<!DOCTYPE html>
<html>

<head>
    <title>
        User List
    </title>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js">
    </script>

</head>
<style>
    .main {
        margin-left: 100px;
        margin-top: 80px;
        background-color: rgb(250, 250, 250);
        transition: .5s;
    }

    .usertable {
        border-width: 1px;
        margin: 50px;
        border-style: solid;
        border-color: rgb(204, 203, 203);
    }

    .dataTables_paginate {
        margin-top: 10px;
    }

    .dataTables_filter {
        margin-bottom: 10px;
    }

    select {
        background-color: white;
        width: 60px;
        height: 25px;
    }

    .sorting {
        border: .5px;
        border-style: solid;
        border-color: rgb(240, 240, 240);
    }

    .tabtext{
        font-size: 14px;
        color: white;
        background-color: rgba(0, 0, 0, 0.76);
        margin: 10px 5px 30px 5px;
    }

    .userdisp{
        height: 20px;
        padding: 5px 10px 5px 10px;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgb(116, 115, 115);
    }

    .querytab{
        float:right;
        padding: 0px 5px;
        height: 30px;
    }

</style>

<body style="background-color: rgb(250, 250, 250)">
    <%- include header.ejs %>
    <%- include sidebar.ejs %>
    <div id="main" class="main">
        <span class="tabtext userdisp" style="float:left;font-size: 16px"><b>User List</b></span>
        <select class="tabtext querytab" name="roletab" required style="width: 180px" id="roletab">
                <option value="all">All</option>
                <option value="admin">Admins</option>
                <option value="user">Users</option>
                <option value="community">Community Builders</option>
        </select>

        <select class="tabtext querytab" name="statustab" required style="width: 130px" id="statustab">
                <option value="all">All</option>
                <option value="pending">Pending</option>
                <option value="confirmed">Confirmed</option>
        </select>
        <span class="tabtext userdisp" style="float:right; font-size: 16px"><i class='fas fa-sync-alt' style='font-size:14px;color:white'></i>  Refresh</span>

        <table id="usertable" class="usertable display cell-border">
            <thead>
                <tr>
                    <th class="cell-border">Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>City</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i < user.length ; i++) {%>
                <tr>
                    <td><%= user[i].name %></td>
                    <td><%= user[i].email %></td>
                    <td><%= user[i].phno %></td>
                    <td><%= user[i].role %></td>
                    <td><%= user[i].status %></td>
                    <td><%= user[i].city %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</body>
<script>
    $(document).ready(function () {
        $('#usertable').DataTable();
    });
</script>

</html>