<!DOCTYPE html>
<html>

<head>
    <title>
        User List
    </title>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js">
    </script>

</head>
<style>
    .main {
        margin-left: 100px;
        margin-top: 80px;
        background-color: rgb(250, 250, 250);
        transition: .5s;
    }

    .usertable {
        border-width: 1px;
        margin: 50px;
        border-style: solid;
        border-color: rgb(204, 203, 203);
    }

    .dataTables_paginate {
        margin-top: 10px;
    }

    .dataTables_filter {
        margin-bottom: 10px;
    }

    select {
        background-color: white;
        width: 60px;
        height: 25px;
    }

    .sorting {
        border: .5px;
        border-style: solid;
        border-color: rgb(240, 240, 240);
    }

    .tabtext {
        font-size: 14px;
        color: white;
        background-color: rgba(0, 0, 0, 0.76);
        margin: 10px 5px 30px 5px;
    }

    .userdisp {
        height: 20px;
        padding: 5px 10px 5px 10px;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgb(116, 115, 115);
    }

    .querytab {
        float: right;
        padding: 0px 5px;
        height: 30px;
    }
</style>

<body style="background-color: rgb(250, 250, 250)">
    <%- include header.ejs %>
    <%- include sidebar.ejs %>
    <div id="main" class="main">
        <span class="tabtext userdisp" style="float:left;font-size: 16px"><b>User List</b></span>
        <select class="tabtext querytab" name="roletab" required style="width: 180px" id="roletab">
            <option value="all">All</option>
            <option value="admin">Admins</option>
            <option value="user">Users</option>
            <option value="community">Community Builders</option>
        </select>

        <select class="tabtext querytab" name="statustab" required style="width: 130px" id="statustab">
            <option value="all">All</option>
            <option value="pending">Pending</option>
            <option value="confirmed">Confirmed</option>
        </select>
        <span class="tabtext userdisp" id="refreshbut" style="float:right;cursor: pointer; font-size: 16px"><i class='fas fa-sync-alt'
                style='font-size:14px;color:white'></i> Refresh</span>

        <table id="usertable" class="usertable display cell-border">
            <thead>
                <tr>
                    <th class="cell-border">Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>City</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i < user.length ; i++) {%>
                <tr>
                    <td><%= user[i].name %></td>
                    <td><%= user[i].email %></td>
                    <td><%= user[i].phno %></td>
                    <td><%= user[i].role %></td>
                    <td><%= user[i].status %></td>
                    <td><%= user[i].city %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</body>
<script>
    var table = "1"
    var names;
    var allentries;

    $(document).ready(function () {
        table = $('#usertable').DataTable();
        allentries = table.rows().data();
    });

    var refreshbut = document.getElementById("refreshbut");
    var statustab = document.getElementById("statustab");
    var roletab = document.getElementById("roletab");
    roletab.onclick = printconsole;
    statustab.onclick = printconsole;
    refreshbut.onclick = printconsole;
    
    function printconsole() {
        console.log(statustab.selectedIndex);
        console.log(roletab.selectedIndex);
        var status;
        var role;
        if (statustab.selectedIndex == '0')
            status = "0";
        else if (statustab.selectedIndex == "1")
            status = "pending";
        else
            status = "cofirmed";

        if (roletab.selectedIndex == "0")
            role = "0";
        else if (roletab.selectedIndex == "1")
            role = "admin";
        else if (roletab.selectedIndex == "2")
            role = "user";
        else
            role = "commuity manager"
        // console.log(role);
        table.destroy();
        table = $('#usertable').DataTable({
            data: allentries
        });
        // console.log(status);
        getrows(role, status);
    }

    function getrows(role, status) {
        if (role == "0" && status == "0") {
            names = table.rows().data();
        } else if (role == "0") {
            names = table.rows(function (idx, data, node) {
                if (data[4] == status)
                    return true;
                else
                    return false;
            }).data();
        } else if (status == "0") {
            names = table.rows(function (idx, data, node) {
                if (data[3] == role)
                    return true;
                else
                    return false;
            }).data();
        } else {
            names = table.rows(function (idx, data, node) {
                if (data[3] == role && data[4] == status)
                    return true;
                else
                    return false;
            }).data();
        }
        //console.log(names);
        table.destroy();
        //console.log(document.getElementById("usertable"));
        table = $('#usertable').DataTable({
            data: names
        });
    }
</script>

</html>